<header>
  <div class="color_bar">
    <div class="color_yellow"></div>
    <div class="color_amber"></div>
    <div class="color_orange"></div>
    <div class="color_sunset"></div>
    <div class="color_red"></div>
    <div class="color_fuchsia"></div>
    <div class="color_purple"></div>
    <div class="color_indigo"></div>
    <div class="color_blue"></div>
    <div class="color_aqua"></div>
    <div class="color_green"></div>
    <div class="color_lime"></div>
  </div>

	 <nav> 
	 	<div class="grid-container"> 
	 		<div class="grid-2 logo"> 
	 			<h1>Octave</h1> 
	 		</div>
	 		<div class="grid-8 nav_items">
	 			<ul>
	 				<li><!-- nav list --></li>
	 				<li><!-- nav list --></li>
	 				<li><!-- nav list --></li>
	 				<li><!-- nav list --></li>	 			</ul>
	 		</div>
	 	</div>
	 </nav> 
 </header> 

<!-- ****** HERO UNIT *******-->

<div class="hero_img_signed_up">
	<%= image_tag "music5.png"%>
</div>

<div class="hero_signed_up" id="hero">
	<span>
	<h1>Not yet! But click below to earn something awesome!</h1>
			<br>
			<br>
			<% colour = ["btn_green", "btn_red", "btn_red"].shuffle.first %>
			<strong><%= link_to 'Refer 5 friends and get $250 of Octave free!', @external_url, class: "shake btn #{colour} signup_btn email_btn" %></strong>
          <img src="http://growthapp.co/7/t.gif">

